.Panel{
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    width: 100%;
    height:100%;
    /* position: relative; */
}
#ku{
    z-index: 9;
}
#Array-option-button{
    width:6.5vw;
    padding: 0.25vw;
    border: none;
    border-radius: 0.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Panel-Section-1{
    /* background-color: aquamarine; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}